######################################################################################################################################################
#
# INCLUDE THIS CONFIG
# 
# Below you'll find the various configurables for SIFM. Feel free to tinker and adapt to your own setup!
# All _SIFM_USER variables default to their values here, so if you don't adjust them you can leave them
# commented out.
# 
######################################################################################################################################################


[gcode_macro _SIFM_USER]
variable_tip_distance       : 35                 ; The distance from your extruder to the tip
variable_extruder_deadband  : 1                  ; The Impatience Value for loading/purging
variable_load_speed         : 30                 ; Loading speed from extruder to tip in mm/s
variable_cubic_purge_speed  : 8                  ; Purging speed in mm^3/s
variable_purge_length       : 50                 ; Length of filament to purge in mm
# variable_purge_xyz          : [-1, -1, -1]       ; Purge bucket location; only used if not -1
# variable_wipe_xyz           : [-1, -1, -1]       ; Wipe/brush location; only used if not -1
variable_custom_purge       : False              ; Builtin vs custom purge gcode
gcode:
    # If you don't wish to use the built-in purge and wipe gcode, you may specify it here. 
    # Just make sure to set custom_purge to true!


[include ./SIFM/*]