[gcode_macro _SIFM_USER]
variable_tip_distance       : 45     #
variable_extruder_deadband  : 2
variable_load_speed         : 45     # Loading speed from extruder to tip in mm/s
variable_purge_speed        : 10     # Purging speed in mm/s
gcode:

######################################################################################################################################################
# The location of the python file and command to execute it.
######################################################################################################################################################
[gcode_shell_command query_filaments]
command: ./SIFM/venv/bin/python3 SIFM/query.py Spools



######################################################################################################################################################
# This macro is called by the Python script to initiate the loading prompts. It will look for unique materials in your database of spools and filter
# out all of the unique materials, then store them in the global variables for use by the rest of SIFM.
######################################################################################################################################################
[gcode_macro _SIFM_RECEIVE]
gcode:
  {% set filament_str = params.NAMES | default("") | string %}
  {% set material_str = params.MATERIALS | default("") | string %}
  {% set extruder_str = params.EXTRUDERS | default("") | string %}
  {% set bed_str = params.BEDS | default("") | string %}

  # Split the strings into lists
  {% set filament_list = filament_str.split(',') | default([]) | list %}
  {% set material_list = material_str.split(',') | default([]) | list %}
  {% set extruder_list = extruder_str.split(',') | default([]) | list %}
  {% set bed_list = bed_str.split(',') | default([]) | list %}


  # Recombine each list into a list of dictionaries, where the index corresponds to the original indexes
  {% set spools = [] %}
  {% for name in filament_list %}
    {% set i = loop.index0 | int %}
    {% set spools = spools.append(
      {
        "name": filament_list[i],
        "material": material_list[i],
        "ex_temp": extruder_list[i],
        "bed_temp": bed_list[i],
        "id" : i
      }
    )
    %}
  {% endfor %}

  # Search for unique materials
  {% set unique_mats = [] %}
  {% for type in material_list %}
    {% if type not in unique_mats %}
      {% set unique_mats = unique_mats.append(type) %}
    {% endif %}
  {% endfor %}

  # Update the global variables
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=spools VALUE="{spools}"
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=unique_mats VALUE="{unique_mats}"



######################################################################################################################################################
# 
######################################################################################################################################################
[delayed_gcode _SIFM_MATS]
gcode:
  {% set unique_mats = printer["gcode_macro _SIFM_VARS"].unique_mats %}

  # Prompt for filament type, taken from available spool types in Spoolman
  _SIFM_WAIT
  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Select a filament type"
  RESPOND TYPE=command MSG="action:prompt_button_group_start"
  
  {% for material in unique_mats %}
    {% set action = "action:prompt_button " ~ material ~ "|_SIFM_FILAMENTS TYPE=" ~ material ~ "|primary" | string %}
    RESPOND TYPE=command MSG="{action}"
  {% endfor %}
  
  RESPOND TYPE=command MSG="action:prompt_button_group_end"
  RESPOND TYPE=command MSG="action:prompt_button CANCEL|SIFM_CANCEL|error"
  RESPOND TYPE=command MSG="action:prompt_show"



######################################################################################################################################################
# Filters the available filaments by the selected material type and prompts the user accordingly. This will call the SIFM_LOAD macro
# with whatever temperatures have been set in Spoolman for that exact filament.
######################################################################################################################################################
[gcode_macro _SIFM_FILAMENTS]
gcode:
  {% set material = params.TYPE | default("") | string %}
  {% set spools = printer["gcode_macro _SIFM_VARS"].spools %}
  {% set status = printer["gcode_macro _SIFM_VARS"].status %}

  # Prompt for the desired filament, indicated by the filament name
  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Select a filament to load"
  RESPOND TYPE=command MSG="action:prompt_button_group_start"
  
  {% for spool in spools %}
    {% if material == spool.material %}
      {% if status == "Loading" %}
        {% set action = "action:prompt_button " ~ spool.name ~ "|_SIFM_LOAD_STAGE STAGE="Heating" SPOOL=" ~ spool ~ " |primary" | string %}
        RESPOND TYPE=command MSG="{action}"
      {% elif status == "Unloading" %}
      {% endif %}
    {% endif %}
  {% endfor %}
  
  RESPOND TYPE=command MSG="action:prompt_button_group_end"
  RESPOND TYPE=command MSG="action:prompt_button CANCEL|SIFM_CANCEL|error"
  RESPOND TYPE=command MSG="action:prompt_show"



######################################################################################################################################################
# Spool management. Params: MODE="load", "unload"
######################################################################################################################################################
# [gcode_macro SIFM_SPOOL_MANAGEMENT]
# gcode:
#   {% set mode = params.MODE | default("load") %}



######################################################################################################################################################
# Wait for the extruder to reach target temp within deadband and provide an easy cancel. 200ms loop
######################################################################################################################################################
[delayed_gcode sifm_await_extruder]
gcode:
  {% set current_temp = printer.extruder.temperature %}
  {% set target_temp = printer.extruder.target %}
  {% set temp_deadband = printer["gcode_macro _SIFM_USER"].extruder_deadband | default(1) | int %}
  
  {% if printer["gcode_macro _SIFM_VARS"].status != "Heating" %}
    RESPOND TYPE=command MSG="action:prompt_begin SIFM"
    RESPOND TYPE=command MSG="action:prompt_text Waiting for extruder to heat..."
    RESPOND TYPE=command MSG="action:prompt_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_await_extruder|error"
    RESPOND TYPE=command MSG="action:prompt_show"
    _SIFM_STATUS STATUS="Heating"
  {% endif %}
  
  {% if current_temp > (target_temp - 1) and current_temp < (target_temp + 1) %}
    UPDATE_DELAYED_GCODE ID=sifm_load_filament DURATION=0.1
  {% else %}
    G4 P200
    UPDATE_DELAYED_GCODE ID=sifm_await_extruder DURATION=0.1
  {% endif %}



######################################################################################################################################################
# Cancel any active SIFM operations. If called from a delayed Gcode, cancels that gcode.
######################################################################################################################################################
[gcode_macro SIFM_CANCEL]
gcode:
  {% set to_cancel = params.TOCANCEL | default(none) | string %}
  {% set printer_status = printer["gcode_macro _SIFM_VARS"].status | string %}
  M118 {printer_status}
  
  {% if to_cancel != none %}
    UPDATE_DELAYED_GCODE ID={to_cancel} DURATION=0
  {% endif %}

  {% if printer_status == "Loading" or printer_status == "Purging" %}
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
  {% endif %}
  
  TURN_OFF_HEATERS
  _SIFM_STATUS STATUS="Idle"
  _SIFM_LOAD_STAGE STATUS="Idle"
  RESPOND TYPE=command MSG="action:prompt_end"
  M118 SIFM: All actions cancelled.



######################################################################################################################################################
# TODO: Add LED integration.
# Update the status of SIFM. Accepted statuses: "Idle", "Loading", "Unloading", "Alert"
######################################################################################################################################################
[gcode_macro _SIFM_STATUS]
gcode:
  {% set target_status = params.STATUS | default("Idle") | string %}
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=status VALUE="'{target_status}'"


  
######################################################################################################################################################
# TODO: Remove
######################################################################################################################################################
[gcode_macro SIFM_TEST]
gcode:
  RUN_SHELL_COMMAND CMD=query_filaments



######################################################################################################################################################
# Wait for user enable/disable
######################################################################################################################################################
[gcode_macro _SIFM_WAIT]
gcode:
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=user_wait VALUE=True

[gcode_macro _SIFM_RESUME]
gcode:
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=user_wait VALUE=False



######################################################################################################################################################
# Global variables used in the SIFM suite
######################################################################################################################################################
[gcode_macro _SIFM_VARS]
variable_user_wait: False
variable_status: "Idle"
  # Accepted statuses: "Idle", "Loading", "Unloading", "Alert"
  # "Idle" is essentially treated as "task complete"; if the status is something other than idle, a macro knows it has begun.
variable_load_stage: "Idle"
  # Accepted stages: "Idle", "Check", "Mats", "Filaments", "Loading", "Purging"
variable_spools: [] 
  # This will contain a list of dictionaries structured as follows
  # name: Spool name
  # material: The filament material (ABS, PLA, ABS-GF, etc.)
  # ex_temp: Extruder temperature
  # bed_temp: Bed temperature
  # id: The unique Spoolman ID
variable_unique_mats: []
  # Unique materials from _SIFM_RECEIVE
variable_active_spool: {id: -1, name: "null", material: "null", ex_temp: -1, bed_temp: -1}
variable_last_spool: {id: -1, name: "null", material: "null", ex_temp: -1, bed_temp: -1}
  # Both of these variables are compatible with the spools list
gcode:
  