[gcode_macro SPOOLMAN_LOAD]
gcode:

[gcode_shell_command query_filaments]
command: ./SIFM/venv/bin/python3 SIFM/query.py Spools

[gcode_macro SIFM_PROMPT]
gcode:
  {% set filament_str = params.NAMES | default("") | string %}
  {% set material_str = params.MATERIALS | default("") | string %}
  {% set extruder_str = params.EXTRUDERS | default("") | string %}
  {% set bed_str = params.BEDS | default("") | string %}

  # Split the strings into lists
  {% set filament_list = filament_str.split(',') | default([]) | list %}
  {% set material_list = material_str.split(',') | default([]) | list %}
  {% set extruder_list = extruder_str.split(',') | default([]) | list %}
  {% set bed_list = bed_str.split(',') | default([]) | list %}

  {% set spools = [] %}

  # Recombine each list into a list of dictionaries, where the index corresponds to the original indexes
  {% for name in filament_list %}
    {% set i = loop.index0 | int %}
    {% set spools = spools.append(
      {"name": filament_list[i],
      "material": material_list[i],
      "ex_temp": extruder_list[i],
      "bed_temp": bed_list[i]}
    ) %}
  {% endfor %}

  # Search for unique materials
  {% set unique_mats = [] %}
  {% for type in material_list %}
    {% if type not in unique_mats %}
      {% set unique_mats = unique_mats.append(type) %}
    {% endif %}
  {% endfor %}
  
  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Please select a filament type"
  RESPOND TYPE=command MSG="action:prompt_button_group_start"
  {% for name in unique_mats %}
    {% set action = "action:prompt_button " ~ name ~ "|M118 " + loop.index | string %}
    RESPOND TYPE=command MSG="{action}"
  {% endfor %}
  RESPOND TYPE=command MSG="action:prompt_button_group_end"
  RESPOND TYPE=command MSG="action:prompt_show"
  
  
  

[gcode_macro SIFM_TEST]
gcode:
  RUN_SHELL_COMMAND CMD=query_filaments

[delayed_gcode await_query]
gcode:

[gcode_macro _SIFM_VARS]
variable_script_complete: False
gcode:
  