######################################################################################################################################################
#
# INCLUDE THIS CONFIG
# 
# Below you'll find the various configurables for SIFM. Feel free to tinker and adapt to your own setup!
# All _SIFM_USER variables default to their values here, so if you don't adjust them you can leave them
# commented out.
# 
######################################################################################################################################################


[gcode_macro _SIFM_USER]
# variable_tip_distance       : 35                 ; The distance from your extruder to the tip
# variable_extruder_deadband  : 1                  ; The Impatience Value for loading/purging
# variable_filament_diameter  : 1.75               ; Filament diameter in mm
# variable_load_speed         : 30                 ; Loading/Unloading speed from extruder to tip in mm/s
# variable_cubic_purge_speed  : 10                 ; Purging speed in mm^3/s
# variable_purge_length       : 75                 ; Length of filament to purge in mm
# variable_final_retract      : 30                 ; Distance to retract after the purge is complete; make sure this matches your print_start and print_end!
# variable_purge_xyz          : [-1, -1, -1]       ; Purge/bucket location; if -1, purges wherever the toolhead is.
# variable_wipe_xyz           : [-1, -1, -1]       ; Wipe/brush location; only used if not -1
# variable_custom_home        : G28                ; Custom home command, if you have one
# variable_custom_purge       : False              ; Builtin vs custom purge gcode
# variable_spoolman_address   : "127.0.0.1"        ; The IP Address of you Spoolman server
gcode:
    # If you don't wish to use the built-in purge and wipe gcode, you may specify it here. 
    # Just make sure to set custom_purge to true!
  _SIFM_LOAD_FINISH ; MAKE SURE YOUR GCODE ENDS WITH THIS MACRO! This will shape the tip of the filament, end material change logic, and cleanly exit the macros.


[include ./SIFM/*]