[gcode_macro SPOOLMAN_LOAD]
gcode:

[gcode_shell_command query_filaments]
command: ./SIFM/venv/bin/python3 SIFM/query.py Spools

[gcode_macro SIFM_PROMPT]
gcode:
  {% set filament_str = params.NAMES | default("") | string %}
  # Split the string into a list
  {% set filament_list = filament_str.split(',') | default([]) | list %}
  M118 {filament_list} # Debug only

  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Please select a filament to load"
  RESPOND TYPE=command MSG="action:prompt_button_group_start"
  {% for name in filament_list %}
    {% set action = "action:prompt_button " ~ name ~ "|M118 " + loop.index | string %}
    RESPOND TYPE=command MSG="{action}"
  {% endfor %}
  RESPOND TYPE=command MSG="action:prompt_button_group_end"
  RESPOND TYPE=command MSG="action:prompt_show"
  
  
  

[gcode_macro SIFM_TEST]
gcode:
  RUN_SHELL_COMMAND CMD=query_filaments

[delayed_gcode await_query]
gcode:

[gcode_macro _SIFM_VARS]
variable_script_complete: False
gcode:
  