######################################################################################################################################################
# Filament auto load based on user parameters. This contains the meat of the prompting. 300ms loop.
######################################################################################################################################################
[delayed_gcode sifm_load_filament]
gcode:
  {% set printer_status = printer["gcode_macro _SIFM_VARS"].status %}
  {% set active_spool = printer["gcode_macro _SIFM_VARS"].active_spool %}
  {% set last_spool = printer["gcode_macro _SIFM_VARS"].last_spool %}
  {% set paused = printer["gcode_macro _SIFM_VARS"].paused %}
  {% set load_stage = printer["gcode_macro _SIFM_VARS"].load_stage %} ; "Idle", "Selection", "Heating", "Await_load", "Loading", "Purging", "Complete"
  {% set tip_distance = printer["gcode_macro _SIFM_USER"].tip_distance | default(35) | int %} ; in mm
  {% set load_speed = printer["gcode_macro _SIFM_USER"].load_speed | default(30) | int %} ; in mm/s
  {% set purge_speed = printer["gcode_macro _SIFM_USER"].purge_speed | default(5) | int %} ; in mm/s
  
  # Waiting for user input (or something else)
  {% if paused %}
    G4 P200
    UPDATE_DELAYED_GCODE ID=sifm_load_filament DURATION=0.1

  {% elif load_stage == "Idle" %}
    # If there's a spool loaded, then prompt the user.
    {% if active_spool.id != -1 %}
      _SIFM_PAUSE
      RESPOND TYPE=command MSG="action:prompt_begin SIFM"
      RESPOND TYPE=command MSG="action:prompt_text Filament '" ~ {active_spool.name} ~ "' is currently loaded."
      RESPOND TYPE=command MSG="action:prompt_button_group_start"
      RESPOND TYPE=command MSG="action:prompt_button Load This Filament|_SIFM_RELOAD_FILAMENT|primary"
      RESPOND TYPE=command MSG="action:prompt_button Load Another Filament|_SIFM_CHANGE_STAGE STAGE="Selection"|secondary"
      RESPOND TYPE=command MSG="action:prompt_button Unload|_SIFM_UNLOAD|warning"
      RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_load_filament|error"

    {% else %}
      _SIFM_CHANGE_STAGE STAGE="Selection"
    {% endif %}
    
      _SIFM_STATUS STATUS="Loading"
  
  {% elif load_stage == "Selection" %}
    _SIFM_MATS

  # Runs in parallel with the "await_extruder" gcode
  {% elif load_stage == "Heating" %}
    G4 P200
    UPDATE_DELAYED_GCODE ID=sifm_load_filament DURATION=0.1

  {% elif load_stage == "Loading" %}
    _SIFM_PAUSE
    UPDATE_DELAYED_GCODE ID=sifm_purge DURATION=0.1

  {% elif load_stage == "Purging" %}
    _SIFM_PAUSE
    RESPOND TYPE=command MSG="action:prompt_begin SIFM"
    RESPOND TYPE=command MSG="action:prompt_text Loading Filament..."
    RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_load_filament|error"
    RESPOND TYPE=command MSG="action:prompt_show"
    M83
    G1 E3 S60
    G1 E{tip_distance} S{load_speed * 60}

  {% elif load_stage == "Complete" %}
    _SIFM_CHANGE_STAGE STAGE="Idle"
    # some sort of confirmation prompt

  {% elif load_stage == "Cancelled" %}
    _SIFM_CHANGE_STAGE STAGE="Idle"

  {% endif %}



######################################################################################################################################################
# Custom load macro that allows the user to interrupt during the sequence; may be called manually. Stores and reads previously loaded filament
# to account for large temperature differences, i.e. PC -> PLA
######################################################################################################################################################
[gcode_macro SIFM_LOAD]
gcode:
  {% set ex_temp = params.EXTRUDER | default(-1) | int %}
  {% set bed_temp = params.BED | default(-1) | int %}
  {% set spool_id = params.SPOOL | default(-1) | int %}
  {% set spool = printer["gcode_macro _SIFM_VARS"].spools[spool_id] %}
  {% set active_spool = printer["gcode_macro _SIFM_VARS"].active_spool %}
  {% set last_spool = printer["gcode_macro _SIFM_VARS"].last_spool %}
  {% set transition_temp = printer["gcode_macro _SIFM_USER"].transition_temp | default(30) %} ; The temp at which SIFM will purge at the old filament's temperature
  

  {% (if ex_temp == -1 or bed_temp == -1) and spool_id == -1 %}
    M118 SIFM: Error: Missing parameters!
    SIFM_CANCEL

  {% elif spool_id != -1 %}
    {% if spool.name == none %}
      M118 SIFM: Error: Invalid Spool ID!
      SIFM_CANCEL
    {% endif %}

    # If no temp explicitly set, override with the spool value
    {% if ex_temp == -1 and bed_temp != -1 %}
      {% set ex_temp = spool.ex_temp %}
    {% endif %}
    {% if ex_temp != -1 and bed_temp == -1 %}
      {% set bed_temp = spool.bed_temp %}
    {% endif %}
  {% endif %}

  # Check the previous spool for the user-declared temp difference
  {% if (last_spool.ex_temp - ex_temp) >= transition_temp %}
    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=transition_mode VALUE=True
    {% set ex_temp = last_spool.ex_temp %}
  {% endif %}

  M104 S{ex_temp}
  M140 S{bed_temp}SIFM_VARS VARIABLE=transition_mode VALUE=False

  # Other cancellations
  TURN_OFF_HEATERS
  RESPOND TYPE=command MSG="action:prompt_end"

  # Print to console
  M118 SIFM: All actions cancelled.

  
  UPDATE_DELAYED_GCODE ID=sifm_await_extruder DURATION=0.1



######################################################################################################################################################
# Grab and purge the filament
######################################################################################################################################################
[delayed_gcode sifm_purge]
gcode:
  {% set paused = printer["gcode_macro _SIFM_VARS"].paused %}
  {% set purge_speed = printer["gcode_macro _SIFM_VARS"].purge_speed %}

  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Loading and Purging Filament..."
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_purge|error"
  RESPOND TYPE=command MSG="action:prompt_show"
  M83
  # Grab the filament
  G1 E2 S60
  # Load from extruder to tip
  G1 E{tip_distance} S{load_speed * 60}
  # Purge using user parameters
  G1 E{purge_length} S{purge_speed}

  # Optional additional purge
  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Purge complete!"
  RESPOND TYPE=command MSG="action:prompt_button Purge More|UPDATE_DELAYED_GCODE ID=sifm_purge_more DURATION=0.1|secondary"
  RESPOND TYPE=command MSG="action:prompt_button Done|_SIFM_LOAD_FINISH|primary"
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_purge|error"
  RESPOND TYPE=command MSG="action:prompt_show"



######################################################################################################################################################
# Additional purging
######################################################################################################################################################
[delayed_gcode sifm_purge_more]
gcode:
  {% set purge_speed = printer["gcode_macro _SIFM_VARS"].purge_speed %}

  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Purging..."
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_purge_more|error"

  G1 E{purge_length} S{purge_speed}

  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Purge complete!"
  RESPOND TYPE=command MSG="action:prompt_button Purge More|UPDATE_DELAYED_GCODE ID=sifm_purge_more DURATION=0.1|secondary"
  RESPOND TYPE=command MSG="action:prompt_button Done|_SIFM_LOAD_FINISH|primary"
  RESPOND TYPE=command MSG="action:prompt_show"



######################################################################################################################################################
# Finalize the load process
######################################################################################################################################################
[gcode_macro _SIFM_LOAD_FINISH]
gcode:
  {% set transition_mode = printer["gcode_macro _SIFM_VARS"].transition_mode %}
  {% set spool = printer["gcode_macro _SIFM_VARS"].active_spool %}
  {% set load_stage = printer["gcode_macro _SIFM_VARS"].load_stage %}

  {% if transition_mode %}
    M104 S{spool.ex_temp}
  {% endif %}

  {% if load_stage != "Idle" %}
    _SIFM_CHANGE_STAGE STAGE="Complete"
  {% endif %}

######################################################################################################################################################
# Special case for reloading the active spool.
######################################################################################################################################################
[gcode_macro _SIFM_RELOAD_FILAMENT]
gcode:
  {% set active_spool = printer["gcode_macro _SIFM_VARS"].active_spool %}
  SIFM_LOAD SPOOL={active_spool.id}
  _SIFM_CHANGE_STAGE STAGE="Heating"
  _SIFM_RESUME


