######################################################################################################################################################
# To be called before PRINT_START. This will check if a spool was specified in the slicer, then call other macros accordingly.
######################################################################################################################################################
[gcode_macro SIFM_START]
variable_loading: False
variable_sliced_diameter: 0.4
variable_print_spool_id: -1
gcode:
  {% set spool_id = params.SPOOL_ID | default(-1) | int %}
  {% set nozzle_diameter = params.NOZZLE_DIAMETER | default(-1) | float %}
  {% set is_print_active = printer['virtual_sdcard'].is_active or printer['virtual_sdcard'].file_position != 0.0 %}

  {% if is_print_active %}
    PAUSE
  {% endif %}

  {% if spool_id == -1 %}
    {action_respond_info("SIFM: No print spool specified, skipping filament verifications.")}
  {% endif %}

  SIFM_QUERY
  SET_GCODE_VARIABLE MACRO=SIFM_START VARIABLE=print_spool_id VALUE={spool_id}
  SET_GCODE_VARIABLE MACRO=SIFM_START VARIABLE=sliced_diameter VALUE={nozzle_diameter}
  UPDATE_DELAYED_GCODE ID=sifm_verify DURATION=1



######################################################################################################################################################
# Check for conflicts, prompt the user, and call their respective actions.
######################################################################################################################################################
[delayed_gcode sifm_verify]
gcode:
  {% set print_spool_id = printer["gcode_macro SIFM_START"].print_spool_id %}
  {% set sliced_diameter = printer["gcode_macro SIFM_START"].sliced_diameter %}
  {% set hardened_nozzle = printer["gcode_macro _SIFM_USER"].hardened_nozzle | default(False) %}
  {% set abrasive_diameter = printer["gcode_macro _SIFM_USER"].abrasive_diameter | default(0.6) | float %}
  {% set nozzle_diameter = printer.configfile.settings.extruder.nozzle_diameter %}
  {% set query_running = printer["gcode_macro _SIFM_VARS"].query_running %}
  {% set active_spool = printer["gcode_macro _SIFM_VARS"].active_spool %}
  {% set default_spool = printer["gcode_macro _SIFM_VARS"].default_spool %}
  {% set spools = printer["gcode_macro _SIFM_VARS"].spools %}
  {% if print_spool_id >= 0 and print_spool_id < spools|length %}
    {% set print_spool = spools[print_spool_id] %}
  {% else %}
    {% set print_spool = default_spool %}
  {% endif %}
  {% set conflicts = [] %}


  {% if query_running %}
    UPDATE_DELAYED_GCODE ID=sifm_verify DURATION=0.5
  {% else %}
  # Various checks:
    # Sliced spool matches the active spool. It seems redundant, so I'm leaving it disabled for now.
    # {% if active_spool.id != print_spool_id %}
    #   {% set conflicts = conflicts + ["ID Mismatch"] %}
    # {% endif %}
    
    # Nozzle diameters match
    {% if sliced_diameter != nozzle_diameter %}
      {% set conflicts = conflicts + ["Nozzle Diameter Mismatch"] %}
    {% endif %}

    # Material matches the active material
    {% if active_spool.material != print_spool.material %}
      {% set conflicts = conflicts + ["Material Mismatch"] %}
    {% endif %}

    # Abrasive material without abrasive nozzle
    {% if print_spool.abrasive and not hardened_nozzle %}
      {% set conflicts = conflicts + ["Abrasive Material with Soft Nozzle"] %}

    # Abrasive material with a nozzle below threshold diameter
    {% elif abrasive_diameter > nozzle_diameter %}
      {% set conflicts = conflicts + ["Nozzle Diameter Too Small"] %}
    {% endif %}
    
    # If the conflicts array isn't empty, prompt for the conflicts. Otherwise, continue printing.
    {% if conflicts %}
      RESPOND TYPE=command MSG="action:prompt_begin SIFM Checks"
      RESPOND TYPE=command MSG="action:prompt_text The following conflicts were detected:"
      {% for conflict in conflicts %}
        RESPOND TYPE=command MSG="action:prompt_text '{conflict}'"
      {% endfor %}
      RESPOND TYPE=command MSG="action:prompt_footer_button Ignore|_SIFM_START_CONTINUE|warning"
      RESPOND TYPE=command MSG="action:prompt_footer_button Change Filament|UPDATE_DELAYED_GCODE ID=sifm_start_change DURATION=0.5|secondary"
      RESPOND TYPE=command MSG="action:prompt_footer_button Abort|_SIFM_START_ABORT|error"
      RESPOND TYPE=command MSG="action:prompt_show"
    {% else %}
      _SIFM_START_CONTINUE
    {% endif %}

  {% endif %}



######################################################################################################################################################
# Resume printing.
######################################################################################################################################################
[gcode_macro _SIFM_START_CONTINUE]
gcode:
  {% set printer_status = printer['gcode_macro _SIFM_VARS'].printer_status %}

  RESPOND TYPE=command MSG="action:prompt_end"
  {% if printer['pause_resume'].is_paused  %}
    RESUME
  {% elif "Loading" in printer_status %}
    _SIFM_CHANGE_STAGE STAGE="Heating"
  {% endif %}



######################################################################################################################################################
# Cancel the checks and whatever is after.
######################################################################################################################################################
[gcode_macro _SIFM_START_ABORT]
gcode:
  {% set printer_status = printer['gcode_macro _SIFM_VARS'].printer_status %}

  RESPOND TYPE=command MSG="action:prompt_end"
  {% if printer['pause_resume'].is_paused  %}
    PRINT_END
  {% elif "Loading" in printer_status %}
    SIFM_CANCEL
  {% endif %}

  SIFM_CANCEL



######################################################################################################################################################
# Change filament before printing.
######################################################################################################################################################
[delayed_gcode sifm_start_change]
gcode:
  {% set printer_status = printer['gcode_macro _SIFM_VARS'].printer_status %}
  {% set loading = printer['gcode_macro SIFM_START'].loading %}

  {% if printer['pause_resume'].is_paused %}
    _SIFM_CHANGE_STATUS STATUS="Unloading"
    _SIFM_CHANGE_STAGE STAGE="Unloading"

    {% if printer_status == "Loading" %}
      SET_GCODE_VARIABLE MACRO=SIFM_START VARIABLE=loading VALUE=True
    {% elif printer_status == "Idle" and loading %}
      SET_GCODE_VARIABLE MACRO=SIFM_START VARIABLE=loading VALUE=False
      _SIFM_START_CONTINUE
    {% else %}
      UPDATE_DELAYED_GCODE ID=sifm_start_change DURATION=1
    {% endif %}
  {% else %}
    SIFM_SMART_UNLOAD
  {% endif %}

