######################################################################################################################################################
# Filament auto load based on user parameters. This contains the meat of the prompting. 500ms loop.
######################################################################################################################################################
[delayed_gcode sifm_load_filament]
gcode:
  {% set printer_status = printer["gcode_macro _SIFM_VARS"].status %}
  {% set query_running = printer["gcode_macro _SIFM_VARS"].query_running %}
  {% set active_spool = printer["gcode_macro _SIFM_VARS"].active_spool %}
  {% set paused = printer["gcode_macro _SIFM_VARS"].paused %}
  {% set filament_stage = printer["gcode_macro _SIFM_VARS"].filament_stage %} ; "Idle", "Prompt", "Selection", "Heating", "Await_load", "Loading", "Purging", "Complete"
  
  # Waiting for user input (or something else)
  {% if paused or query_running %}
    UPDATE_DELAYED_GCODE ID=sifm_load_filament DURATION=0.5

  {% elif filament_stage == "Prompt" %}
    # If there's a spool loaded, then prompt the user.
    {% if active_spool.id != -1 %}
      {% set action = "action:prompt_text Filament '" ~ active_spool.name ~ "' is already loaded!" %}
      RESPOND TYPE=command MSG="action:prompt_begin SIFM"
      RESPOND TYPE=command MSG="{action}"
      RESPOND TYPE=command MSG="action:prompt_button_group_start"
      RESPOND TYPE=command MSG="action:prompt_button Load This Filament|_SIFM_CHANGE_STAGE STAGE="Heating"|primary"
      RESPOND TYPE=command MSG="action:prompt_button Load Another Filament|_SIFM_CHANGE_STAGE STAGE="Selection"|secondary"
      RESPOND TYPE=command MSG="action:prompt_button Unload|SIFM_SMART_UNLOAD|warning"
      RESPOND TYPE=command MSG="action:prompt_button_group_end"
      RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_load_filament|error"
      RESPOND TYPE=command MSG="action:prompt_show"
      _SIFM_PAUSE
    {% else %}
      _SIFM_CHANGE_STAGE STAGE="Selection"
    {% endif %}
    
    _SIFM_CHANGE_STATUS STATUS="Loading"

  {% elif filament_stage == "Selection" %}
    _SIFM_MATS

  {% elif filament_stage == "Heating" %}
    _SIFM_HEATUP SPOOL={active_spool.id}

  {% elif filament_stage == "Loading" %}
    UPDATE_DELAYED_GCODE ID=sifm_purge DURATION=0.5

  {% elif filament_stage == "Complete" %}
    _SIFM_CHANGE_STATUS STATUS="Idle"
    _SIFM_CHANGE_STAGE STAGE="Idle"
    SIFM_SET_SPOOL SPOOL_ID=active_spool.id
    
    RESPOND TYPE=command MSG="action:prompt_begin SIFM"
    RESPOND TYPE=command MSG="action:prompt_text Filament loaded successfully!"
    RESPOND TYPE=command MSG="action:prompt_footer_button Yay!|RESPOND TYPE=command MSG="action:prompt_end"|primary"
    RESPOND TYPE=command MSG="action:prompt_show"

  {% endif %}



######################################################################################################################################################
# Calls the Python script and begins the load process with prompts.
######################################################################################################################################################
[gcode_macro SIFM_SMART_LOAD]
gcode:
  _SIFM_CHANGE_STAGE STAGE="Prompt"
  # Get Spoolman info
  SIFM_QUERY
  # Begin the load process
  UPDATE_DELAYED_GCODE ID=sifm_load_filament DURATION=0.1


######################################################################################################################################################
# Grab and purge the filament. Attempts to make a smooth extrusion via multiple smaller steps so that the user can interrupt during the purge;
# The extrude_loops variable stores the calculated loops in half-second increments.
######################################################################################################################################################
[delayed_gcode sifm_purge]
gcode:
  {% set tip_distance = printer["gcode_macro _SIFM_USER"].tip_distance | default(35) | int %} ; in mm
  {% set load_speed = printer["gcode_macro _SIFM_USER"].load_speed | default(30) | int %} ; in mm/s
  {% set purge_length = printer["gcode_macro _SIFM_USER"].purge_length | default(30) | int %} ; in mm
  {% set custom_load = printer["gcode_macro _SIFM_USER"].custom_load | default(False) %} ; in mm
  {% set purge_xyz = printer["gcode_macro _SIFM_USER"].purge_xyz | default([-1, -1, -1]) %} ; Location for purging
  {% set purge_speed = printer["gcode_macro _SIFM_VARS"].purge_speed %} ; Calculated in init for mm/m from mm/s3
  {% set extrude_loops = printer["gcode_macro _SIFM_VARS"].extrude_loops %} ; Remaining loops on a purge or unload move
  {% set load_wait = (tip_distance / load_speed) %} ; Seconds
  {% set purge_wait = (purge_length / purge_speed) * 60000 %} ; Minutes to milliseconds
  {% set total_loops = (purge_wait / 500) + 1 | int %}

  
  {% if custom_load %}
      _SIFM_USER ; Run ONLY the user macro

  {% elif extrude_loops == 0 %}
    {% if -1 not in purge_xyz %}
      G90
      G0 Z{purge_xyz[2]}
      G0 X{purge_xyz[0]} Y{purge_xyz[1]}
      # M400
    {% endif %}

    _SIFM_PAUSE
    RESPOND TYPE=command MSG="action:prompt_end"
    RESPOND TYPE=command MSG="action:prompt_begin SIFM"
    RESPOND TYPE=command MSG="action:prompt_text Loading and Purging Filament..."
    RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_purge|error"
    RESPOND TYPE=command MSG="action:prompt_show"

    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=extrude_loops VALUE={total_loops | int}
    G91
    # Grab the filament
    G0 E2 F60
    # Load from extruder to tip
    G0 E{tip_distance} F{load_speed * 60}

    UPDATE_DELAYED_GCODE ID=sifm_purge DURATION={load_wait}
  {% elif extrude_loops > 1 %}
    # Purge using user parameters
    G0 E{purge_length / total_loops} F{purge_speed}
    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=extrude_loops VALUE={extrude_loops - 1}
    UPDATE_DELAYED_GCODE ID=sifm_purge DURATION=0.25
  {% else %}
    {% set action = "action:prompt_footer_button Purge More|_SIFM_PURGE_MORE LOOPS=" ~ total_loops ~ "|secondary" %}

    RESPOND TYPE=command MSG="action:prompt_end"
    RESPOND TYPE=command MSG="action:prompt_begin SIFM"
    RESPOND TYPE=command MSG="action:prompt_text Purge complete!"
    RESPOND TYPE=command MSG="{action}"
    RESPOND TYPE=command MSG="action:prompt_footer_button Done|_SIFM_LOAD_FINISH|primary"
    RESPOND TYPE=command MSG="action:prompt_show"
    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=extrude_loops VALUE=0
  {% endif %}


######################################################################################################################################################
# Additional purging, bypasses the initial load in the purge gcode
######################################################################################################################################################
[gcode_macro _SIFM_PURGE_MORE]
gcode:
  {% set total_loops = params.LOOPS | default(0) %} ; Calculated in init for mm/m from mm/s3
  
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=extrude_loops VALUE={total_loops}

  RESPOND TYPE=command MSG="action:prompt_end"
  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Purging..."
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_purge_more|error"

  UPDATE_DELAYED_GCODE ID=sifm_purge DURATION=0.25
  


######################################################################################################################################################
# Finalize the load process
######################################################################################################################################################
[gcode_macro _SIFM_LOAD_FINISH]
gcode:
  {% set transition_mode = printer["gcode_macro _SIFM_VARS"].transition_mode %}
  {% set spool = printer["gcode_macro _SIFM_VARS"].active_spool %}
  {% set filament_stage = printer["gcode_macro _SIFM_VARS"].filament_stage %}
  {% set final_retract = printer["gcode_macro _SIFM_USER"].final_retract | default(30) %} ; The distance to retract the filament after purging.
  {% set wipe_xyz = printer["gcode_macro _SIFM_USER"].wipe_xyz | default([-1, -1, -1]) %} ; in mm

  # Shape the tip of the filament
  G0 E-10 F500
  G0 E5 F500
  G0 E-5 F500
  G0 E5 F500
  G0 E-5 F500
  G0 E5 F500
  G0 E-{final_retract} F1000
  G90
  
  {% if transition_mode %}
    M104 S{spool.ex_temp}
    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=transition_mode VALUE=False
  {% endif %}

  _SIFM_CHANGE_STAGE STAGE="Complete"

