[respond]

######################################################################################################################################################
# The location of the python file and command to execute it.
######################################################################################################################################################
[gcode_shell_command query_filaments]
command: ./SIFM/venv/bin/python3 SIFM/query.py Spools
timeout: 15.0
verbose: True



######################################################################################################################################################
# This macro is called by the Python script to initiate the loading prompts. It will look for unique materials in your database of spools and filter
# out all of the unique materials, then store them in the global variables for use by the rest of SIFM.
######################################################################################################################################################
[gcode_macro _SIFM_RECEIVE]
gcode:
  {% set filament_str = params.NAMES | default("") | string %}
  {% set material_str = params.MATERIALS | default("") | string %}
  {% set extruder_str = params.EXTRUDERS | default("") | string %}
  {% set bed_str = params.BEDS | default("") | string %}

  # Split the strings into lists
  {% set filament_list = filament_str.split(',') | default([]) | list %}
  {% set material_list = material_str.split(',') | default([]) | list %}
  {% set extruder_list = extruder_str.split(',') | default([]) | list %}
  {% set bed_list = bed_str.split(',') | default([]) | list %}


  # Recombine each list into a list of dictionaries, where the index corresponds to the original indexes, same as spool ID
  {% set spools = [] %}
  {% for name in filament_list %}
    {% set i = loop.index0 | int %}
    {% set spools = spools.append(
      {
        "name": filament_list[i],
        "material": material_list[i],
        "ex_temp": extruder_list[i],
        "bed_temp": bed_list[i],
        "id": i
      }
    )
    %}
  {% endfor %}

  # Search for unique materials
  {% set unique_mats = [] %}
  {% for type in material_list %}
    {% if type not in unique_mats %}
      {% set unique_mats = unique_mats.append(type) %}
    {% endif %}
  {% endfor %}

  # Update the global variables
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=spools VALUE="{spools}"
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=unique_mats VALUE="{unique_mats}"
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=query_running VALUE=False



######################################################################################################################################################
# Prompt the user for a unique material taken from the list of spools, then pass that value to _SIFM_FILAMENTS for parsing.
######################################################################################################################################################
[gcode_macro _SIFM_MATS]
gcode:
  {% set unique_mats = printer["gcode_macro _SIFM_VARS"].unique_mats %}
  
  # Prompt for filament type, taken from available spool types in Spoolman
  _SIFM_PAUSE
  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Select a filament type"
  RESPOND TYPE=command MSG="action:prompt_button_group_start"
  
  {% for material in unique_mats %}
    {% set action = "action:prompt_button " ~ material ~ "|_SIFM_FILAMENTS TYPE=" ~ material ~ "|primary" | string %}
    RESPOND TYPE=command MSG="{action}"
  {% endfor %}
  
  RESPOND TYPE=command MSG="action:prompt_button_group_end"
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL|error"
  RESPOND TYPE=command MSG="action:prompt_show"



######################################################################################################################################################
# Filters the available filaments by the selected material type and prompts the user accordingly. Updates the loading stage and spool.
######################################################################################################################################################
[gcode_macro _SIFM_FILAMENTS]
gcode:
  {% set material = params.TYPE | default("") | string %}
  {% set spools = printer["gcode_macro _SIFM_VARS"].spools %}
  {% set status = printer["gcode_macro _SIFM_VARS"].status %}

  M118 {material}
  
  # Prompt for the desired filament, indicated by the filament name
  RESPOND TYPE=command MSG="action:prompt_begin SIFM"
  RESPOND TYPE=command MSG="action:prompt_text Select a filament to load"
  RESPOND TYPE=command MSG="action:prompt_button_group_start"
  
  {% for spool in spools %}
    {% if material == spool.material %}
      {% if status == "Loading" %}
        {% set action = "action:prompt_button " ~ spool.name ~ "|_SIFM_CHANGE_STAGE STAGE='Heating' SPOOL_ID=" ~ spool.id ~ " |primary" | string %}
        RESPOND TYPE=command MSG="{action}"
      {% elif status == "Unloading" %}
      {% endif %}
    {% endif %}
  {% endfor %}
  
  RESPOND TYPE=command MSG="action:prompt_button_group_end"
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL|error"
  RESPOND TYPE=command MSG="action:prompt_show"



######################################################################################################################################################
# Manually set the active spool. NOTE: THIS WILL MOVE THE CURRENT SPOOL TO THE PREVIOUS ONE
######################################################################################################################################################
[gcode_macro SIFM_SET_SPOOL]
gcode:
  {% set spool_id = (params.SPOOL_ID | int) - 1 | default(-1) %}
  {% set spools = printer["gcode_macro _SIFM_VARS"].spools %}
  {% set default_spool = printer["gcode_macro _SIFM_VARS"].default_spool %}
  {% if 'id' in printer.save_variables.variables.active_spool %}
    {% set last_active = printer.save_variables.variables.active_spool %}
  {% else %}
    {% set last_active = default_spool %}
  {% endif %}
  {% set selected_spool = spools[spool_id] %}

  # The spools variable is 0 indexed, but Spoolman is 1 indexed.
  {% if spool_id != -1 and spool_id < (spools | length)%}
    SAVE_VARIABLE VARIABLE=last_spool VALUE="{last_active}"
    SAVE_VARIABLE VARIABLE=active_spool VALUE="{spools[spool_id]}"

    # Set the spool in Spoolman
    SET_ACTIVE_SPOOL ID="{spool_id + 1}"
    G4 P250
    UPDATE_DELAYED_GCODE ID=sifm_init DURATION=0.1
  {% else %}
    {action_respond_info("SIFM: Error: Invalid spool ID.")}
  {% endif %}



######################################################################################################################################################
# Wait for the extruder to reach target temp within deadband and provide an easy cancel, then advance to Loading. 200ms loop
######################################################################################################################################################
[delayed_gcode sifm_await_extruder]
gcode:
  {% set current_temp = printer.extruder.temperature %}
  {% set target_temp = printer.extruder.target %}
  {% set temp_deadband = printer["gcode_macro _SIFM_USER"].extruder_deadband | default(1) | int %}
  {% set status = printer["gcode_macro _SIFM_VARS"].status %}
  {% set paused = printer["gcode_macro _SIFM_VARS"].paused %}
  
  {% if not paused %}
    RESPOND TYPE=command MSG="action:prompt_begin SIFM"
    RESPOND TYPE=command MSG="action:prompt_text Waiting for extruder to heat..."
    RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_await_extruder|error"
    RESPOND TYPE=command MSG="action:prompt_show"
    _SIFM_PAUSE
  {% endif %}
  
  {% if current_temp > (target_temp - temp_deadband) and current_temp < (target_temp + temp_deadband) %}
    {% if status == "Loading" or status == "Unloading" %}
      _SIFM_PAUSE
      RESPOND TYPE=command MSG="action:prompt_begin SIFM"
      RESPOND TYPE=command MSG="action:prompt_text Push the filament into the extruder."
      RESPOND TYPE=command MSG="action:prompt_footer_button Continue|_SIFM_CHANGE_STAGE STAGE='Loading'|primary"
      RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_await_extruder|error"
      RESPOND TYPE=command MSG="action:prompt_show"
    {% else %}
      _SIFM_PAUSE
      RESPOND TYPE=command MSG="action:prompt_begin SIFM"
      RESPOND TYPE=command MSG="action:prompt_text Push the filament into the extruder."
      RESPOND TYPE=command MSG="action:prompt_footer_button Continue|UPDATE_DELAYED_GCODE ID=sifm_purge DURATION=0.5|primary"
      RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_await_extruder|error"
      RESPOND TYPE=command MSG="action:prompt_show"
    {% endif %}
  {% else %}
    G4 P200
    UPDATE_DELAYED_GCODE ID=sifm_await_extruder DURATION=0.1
    
  {% endif %}



######################################################################################################################################################
# Cancel any active SIFM operations. If called from a delayed Gcode, cancels that gcode.
######################################################################################################################################################
[gcode_macro SIFM_CANCEL]
gcode:
  {% set to_cancel = params.TOCANCEL | default("null") | string %}
  {% set printer_status = printer["gcode_macro _SIFM_VARS"].status | string %}
  {% set loading_status = printer["gcode_macro _SIFM_VARS"].loading | string %}
  
  # TESTING, TEMPORARY
  M118 {printer_status}
  
  # Cancel whatever delayed_gcode called the cancellation, as well as distinct routines
  {% if to_cancel != "null" %}
    UPDATE_DELAYED_GCODE ID={to_cancel} DURATION=0
  {% endif %}
  {% if loading_status != "Idle" %}
    UPDATE_DELAYED_GCODE ID=sifm_load_filament DURATION=0
    # UPDATE_DELAYED_GCODE ID=sifm_unload_filament DURATION=0
  {% endif %}
  
  # Stop the extruder
  {% if printer_status == "Loading" or printer_status == "Unloading" %}
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
  {% endif %}
  
  # Reset variables
  UPDATE_DELAYED_GCODE ID=sifm_init DURATION=0.1
  _SIFM_STATUS STATUS="Idle"
  _SIFM_CHANGE_STAGE STATUS="Cancelled"
  _SIFM_RESUME
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=transition_mode VALUE=False
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=query_running VALUE=False

  # Other cancellations
  TURN_OFF_HEATERS
  RESPOND TYPE=command MSG="action:prompt_end"

  # Print to console
  M118 SIFM: All actions cancelled.



######################################################################################################################################################
# TODO: Add LED integration.
# Update the status of SIFM. Accepted statuses: "Idle", "Loading", "Unloading", "Alert"
######################################################################################################################################################
[gcode_macro _SIFM_STATUS]
gcode:
  {% set target_status = params.STATUS | default("Idle") | string %}
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=status VALUE="'{target_status}'"



######################################################################################################################################################
# Set the current stage of the Load/Unload process
######################################################################################################################################################
[gcode_macro _SIFM_CHANGE_STAGE]
gcode:
  {% set load_stage = params.STAGE | default("Idle") | string %}
  {% set spool_id = params.SPOOL_ID | default(-1) | int %}
  {% set spools = printer["gcode_macro _SIFM_VARS"].spools %}

  {% if spool_id > -1 %}
    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=active_spool VALUE='"{spools[spool_id]}"'
  {% endif %}
  _SIFM_RESUME
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=load_stage VALUE='"{load_stage}"'

[gcode_macro _SIFM_STAGE]
gcode:
  {% set load_stage = printer["gcode_macro _SIFM_VARS"].load_stage %}
  M118 "{load_stage}"

######################################################################################################################################################
# Startup initialization
######################################################################################################################################################
[delayed_gcode sifm_init]
initial_duration: 3
gcode:
  {% set default_spool = printer["gcode_macro _SIFM_VARS"].default_spool %}
  
  {% if 'id' in printer.save_variables.variables.last_spool %}
    {% set last_spool = printer.save_variables.variables.last_spool %}
  {% else %}
    {% set last_spool = default_spool %}
  {% endif %}
  
  {% if 'id' in printer.save_variables.variables.active_spool %}
    {% set active_spool = printer.save_variables.variables.active_spool %}
  {% else %}
    {% set active_spool = default_spool %}
  {% endif %}

  # Calculate linear speed from cubic data
  {% set cubic_purge_speed = printer["gcode_macro _SIFM_USER"].cubic_purge_speed | default(8) %}
  {% set purge_length = printer["gcode_macro _SIFM_USER"].purge_length | default(50) %}
  {% set diameter = printer["gcode_macro _SIFM_USER"].filament_diameter | default(1.75) %}
  {% set purge_volume = ((diameter / 2) ** 2) * 3.14 | float %} ; Gives the number of mm3 per mm
  {% set purge_speed = (cubic_purge_speed / purge_volume) * 60 | float %} ; Sets the purge speed in mm/m
  {% set spoolman_address = printer["gcode_macro _SIFM_USER"].spoolman_address %}

  # Get an initial list of the Spoolman spools
  RUN_SHELL_COMMAND CMD=query_filaments PARAMS="{spoolman_address}"
  # Spools
  {% if last_spool.id > -1 %}
    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=last_spool VALUE="{last_spool}"
  {% else %}
    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=last_spool VALUE="{default_spool}"
  {% endif %}
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=active_spool VALUE="{active_spool}"
  # Purge
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=purge_speed VALUE="{purge_speed}"

######################################################################################################################################################
# Enable/disable SIFM pause; used to wait for something, ususally a user prompt.
######################################################################################################################################################
[gcode_macro _SIFM_PAUSE]
gcode:
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=paused VALUE=True
  
[gcode_macro _SIFM_RESUME]
gcode:
  SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=paused VALUE=False



######################################################################################################################################################
# Macros for managing the Spoolman/Mainsail integration
######################################################################################################################################################
[gcode_macro SET_ACTIVE_SPOOL]
gcode:
    {% if params.ID %}
        {action_call_remote_method(
            "spoolman_set_active_spool",
            spool_id=params.ID|int
        )}
        {action_respond_info("Spool %s is now active." % params.ID)}
    {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
    {action_call_remote_method("spoolman_set_active_spool", spool_id=None)}
    {action_respond_info("Active spool has been cleared.")}


######################################################################################################################################################
######################################################################################################################################################
# Global variables used in the SIFM suite
######################################################################################################################################################
[gcode_macro _SIFM_VARS]
variable_paused: False
variable_query_running: False
variable_purge_speed: -1
variable_status: "Idle"
  # Accepted statuses: "Idle", "Loading", "Unloading", "Alert"
  # "Idle" is essentially treated as "task complete"; if the status is something other than idle, a macro knows it has begun.
variable_load_stage: "Idle"
  # Accepted stages: "Idle", "Check", "Mats", "Filaments", "Loading", "Purging"
variable_spools: [] 
  # This will contain a list of dictionaries structured as follows
  # name: Spool name
  # material: The filament material (ABS, PLA, ABS-GF, etc.)
  # ex_temp: Extruder temperature
  # bed_temp: Bed temperature
  # id: The unique Spoolman ID
variable_unique_mats: []
  # Unique materials from _SIFM_RECEIVE
variable_default_spool: {"id": -1, "name": "", "material": "", "ex_temp": -1, "bed_temp": -1}
variable_active_spool: {}
variable_last_spool: {}
  # Both of these variables are compatible with the "spools" list
variable_transition_mode: False
  # Whether or not we are transitioning materials with a large temperature gap
gcode:
  