######################################################################################################################################################
# Filament auto load based on user parameters. This contains the meat of the prompting. 300ms loop.
######################################################################################################################################################
[delayed_gcode sifm_unload_filament]
gcode:
  {% set printer_status = printer["gcode_macro _SIFM_VARS"].status %}
  {% set query_running = printer["gcode_macro _SIFM_VARS"].query_running %}
  {% set active_spool = printer["gcode_macro _SIFM_VARS"].active_spool %}
  {% set paused = printer["gcode_macro _SIFM_VARS"].paused %}
  {% set filament_stage = printer["gcode_macro _SIFM_VARS"].filament_stage %} ; "Idle", "Prompt", "Selection", "Heating", "Unloading", "Complete"
  
  # Waiting for user input (or something else)
  {% if paused or query_running %}
    UPDATE_DELAYED_GCODE ID=sifm_unload_filament DURATION=0.5

  {% elif filament_stage == "Prompt" %}
    # If there's a spool loaded, then prompt the user.
    {% if active_spool.id != -1 %}
      {% set action = "action:prompt_text Filament '" ~ active_spool.name ~ "' is currently loaded." %}
      RESPOND TYPE=command MSG="action:prompt_end"
      RESPOND TYPE=command MSG="action:prompt_begin SIFM"
      RESPOND TYPE=command MSG="{action}"
      RESPOND TYPE=command MSG="action:prompt_button_group_start"
      RESPOND TYPE=command MSG="action:prompt_button Unload This Filament|_SIFM_CHANGE_STAGE STAGE="Heating"|primary"
      RESPOND TYPE=command MSG="action:prompt_button Unload Another Filament|_SIFM_CHANGE_STAGE STAGE="Selection"|secondary"
      RESPOND TYPE=command MSG="action:prompt_button Load Filament|SIFM_SMART_LOAD|secondary"
      RESPOND TYPE=command MSG="action:prompt_button_group_end"
      RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_unload_filament|error"
      RESPOND TYPE=command MSG="action:prompt_show"
      _SIFM_PAUSE
    {% else %}
      _SIFM_CHANGE_STAGE STAGE="Selection"
    {% endif %}
    
    _SIFM_CHANGE_STATUS STATUS="Unloading"

  {% elif filament_stage == "Selection" %}
    _SIFM_MATS

  {% elif filament_stage == "Heating" %}
    _SIFM_HEATUP SPOOL={active_spool.id}

  {% elif filament_stage == "Unloading" %}
    UPDATE_DELAYED_GCODE ID=sifm_unload DURATION=0.5

  {% elif filament_stage == "Complete" %}
    _SIFM_CHANGE_STATUS STATUS="Idle"
    _SIFM_CHANGE_STAGE STAGE="Idle"
    
    RESPOND TYPE=command MSG="action:prompt_end"
    RESPOND TYPE=command MSG="action:prompt_begin SIFM"
    RESPOND TYPE=command MSG="action:prompt_text Filament unloaded successfully!"
    RESPOND TYPE=command MSG="action:prompt_footer_button Yay!|RESPOND TYPE=command MSG="action:prompt_end"|primary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Load Another|SIFM_SMART_LOAD|primary"
    RESPOND TYPE=command MSG="action:prompt_show"
  {% endif %}



######################################################################################################################################################
# Unload the filament with prompting.
######################################################################################################################################################
[delayed_gcode sifm_unload]
gcode:
  {% set tip_distance = printer["gcode_macro _SIFM_USER"].tip_distance | default(35) | int %} ; in mm
  {% set unload_distance = tip_distance + 20 %} ; Add some length to the tip_distance
  {% set load_speed = printer["gcode_macro _SIFM_USER"].load_speed | default(30) | int %} ; in mm/s
  {% set custom_unload = printer["gcode_macro _SIFM_USER"].custom_load | default(False) %} ; in mm
  {% set extrude_loops = printer["gcode_macro _SIFM_VARS"].extrude_loops %} ; Remaining loops on a purge or unload move
  {% set unload_wait = (unload_distance / load_speed) * 60000 %} ; Minutes to milliseconds
  {% set total_loops = (unload_wait / 500) + 1 | int %}

  {% if custom_unload %}
    _SIFM_USER_UNLOAD
  {% elif extrude_loops == 0 %}
    _SIFM_PAUSE
    RESPOND TYPE=command MSG="action:prompt_end"
    RESPOND TYPE=command MSG="action:prompt_begin SIFM"
    RESPOND TYPE=command MSG="action:prompt_text Unloading Filament..."
    RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|SIFM_CANCEL TOCANCEL=sifm_unload|error"
    RESPOND TYPE=command MSG="action:prompt_show"

    G91
    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=extrude_loops VALUE={total_loops | int}
    UPDATE_DELAYED_GCODE ID=sifm_unload DURATION=0.25
    
  {% elif extrude_loops > 1 %}
    # Purge using user parameters, negating the tip distance to retract
    G0 E{(tip_distance / total_loops) * -1} F{load_speed}
    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=extrude_loops VALUE={extrude_loops - 1}
    UPDATE_DELAYED_GCODE ID=sifm_unload DURATION=0.25
  {% else %}
    RESPOND TYPE=command MSG="action:prompt_end"
    RESPOND TYPE=command MSG="action:prompt_begin SIFM"
    RESPOND TYPE=command MSG="action:prompt_text Unload complete!"
    RESPOND TYPE=command MSG="action:prompt_footer_button Again|UPDATE_DELAYED_GCODE ID=sifm_unload DURATION=0.5|primary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Done|_SIFM_UNLOAD_FINISH|primary"
    RESPOND TYPE=command MSG="action:prompt_show"
    SET_GCODE_VARIABLE MACRO=_SIFM_VARS VARIABLE=extrude_loops VALUE=0
  {% endif %}


######################################################################################################################################################
# Calls the Python script and begins the load process.
######################################################################################################################################################
[gcode_macro SIFM_SMART_UNLOAD]
gcode:
  _SIFM_CHANGE_STATUS STATUS="Unloading"
  _SIFM_CHANGE_STAGE STAGE="Prompt"
  # Get Spoolman info
  SIFM_QUERY
  # Begin the unload process
  UPDATE_DELAYED_GCODE ID=sifm_unload_filament DURATION=0.1



######################################################################################################################################################
# Finalize the unload process
######################################################################################################################################################
[gcode_macro _SIFM_UNLOAD_FINISH]
gcode:
  G90
  SIFM_CLEAR_SPOOL
  _SIFM_CHANGE_STAGE STAGE="Complete"
